.searchbar {
    text-align: center;
    height: 80px;
    margin-left: 20%;
    width: 70%; /* changed from 300% */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* added this property */
  }
  
  .searchInputs {
    margin-top: 25px;
    width: 60%;
    display: inline-flex;
    height: 30px;
    width: 100%;
  }
  
  .searchInputs input {
    background-color: beige;
    border: 0;
    border-radius: 5px;
    border: 2px solid #bbb;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 15px;
    padding: 10px; /* reduce padding to make it shorter */
    height: 20px; /* reduce height */
    width: 300px; /* increase width */
  }
  
  
  .searchIcon {
    height:40px;
    width: 50px;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: beige;
    border: 2px solid #bbb;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  
  .searchIcon svg {
    font-size: 35px;
  } 
  
  .dataResults {
    margin: 15px auto; /* changed margin property */
    width: 330px;
    height: 75px;
    background-color:beige;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 11px; /* fixed box-shadow property */
    overflow: auto;
    overflow-y: a;
    clear: both; /* added this property */
    
    
  }
  
  .dataResults::-webkit-scrollbar {
    display: ruby-base;
  }
  
  .dataResults .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgray;
  }
  
  .clearBtn {
    cursor: pointer;
  }
  